* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.titulo {
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

.slider {
    overflow: hidden;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
    overflow: hidden;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
    overflow: hidden;

}

.slide img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slide-link {
    color: black;
    border-width: 1px;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
}

.slide-link-text {

    color: black;
    border-width: 1px;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
}
.manual-navigation {
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #005f92;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #005f92;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #005f92;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #005f92;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #005f92;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #005f92;
}