* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    overflow: hidden;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 15px;
    display: flexbox;
    gap: 10px;
    grid-template-areas:
        'content content content'
        'footer footer footer';
}

.container div {
    padding: 20px;
    border-radius: 3px;
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
    align-items: center;
}

.content {
    grid-area: content;
    height: 100vh;
    width: 100vh;
}

.tabela-chamada, td, tr {
    border: 1px solid black;
    border-radius: 3px;
    font-size: large;
    width: 80%;
}

.titulo-chamada {
    margin-top: 10px;
    display: flex;
}

.tabela-linha {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 80%;
    color: black;
}

.tabela-chamada-titulo {
    text-align: center;
}

.tabela-chamada-id {
    text-align: center;
    color: black;
    padding: 0px 5px 0px 5px;
    width: 20%;
    height: 20px;
}

.tabela-chamada-nome {
    text-align: left;
    padding: 0px 40px 0px 2px;
}

.tabela-chamada-presenca {
    text-align: center;

}

.tabela-chamada-presenca button {
    text-decoration: none;
    color: black;
}

.enviar {
    margin-top: 15px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    background-color: #658a84;
    margin: 25px 0;
    transition: all 0.3s linear;
    cursor: pointer;
}
